.cardCustom {
  background: linear-gradient(135deg, #0b1424, #087a6b);
  margin-bottom: -30px;
}

.lead {
  font-family: 'Inter', sans-serif;
}

.lead span {
  font-weight: bold;
}

.modal-content {
  border-radius: 40px !important;
}